<div class="container">
  <div class="row">


      <br />
      <button type="button" class="btn btn-dark btn-lg px-4 gap-3 text-white">
          <a href="/bracket-list/createPage/" style="text-decoration:none; color:white">
          Create Tournament
        </button>&nbsp;
      <div class="table-responsive">
        <table class="table table-nobordered table-striped table-dark">
          <thead>
            <tr>
              <th class="text-center bg-danger" >Info</th>
              <th class="text-center"></th>
              <th class="text-center bg-danger">Game</th>
              <th class="text-center"></th>
              <th class="text-center bg-danger">Num Teams</th>
              <th class="text-center"></th>
              <th class="text-center bg-danger">Description</th>
            </tr>
          </thead>
          <tbody>

            <tr>
              <td class="text-center bg-warning">1</td>
              <td class="text-center"></td>
              <td class="text-center bg-warning">2</td>
              <td class="text-center"></td>
              <td class="text-center bg-warning">3</td>
              <td class="text-center"></td>
              <td class="text-center bg-warning">4</td>
            </tr>
          </tbody>
        </table>
        <table class="table table-nobordered table-striped table-dark">
          <thead>
            <tr>
              <th class="text-center bg-danger" >Round 1</th>
              <th class="text-center"></th>
              <th class="text-center bg-danger">Round 2</th>
              <th class="text-center"></th>
              <th class="text-center bg-danger">Round 3</th>
              <th class="text-center"></th>
              <th class="text-center bg-danger">Round 4</th>


              <th class="text-center"></th>
              <th class="text-center bg-danger">Round 5</th>

            </tr>
          </thead>

          <tbody>
            <!-- Template Row -->
            <!--test and work-->
            <% for (let count = 0; count < BracketList.length; count++) { %>

            <tr>
              <td class="text-center bg-warning"><%= BracketList[count].teams %></td>
              <td class="text-center">
              <a href="link to edit" class="btn btn-primary btn-sm">
              <i class="fas fa-pencil-alt"></i> Edit</a>
              </td>
              <td class="text-center bg-warning"><%= BracketList[count].teams %></td>
              <td class="text-center"><%= BracketList[count].teams %></td>
              <td class="text-center bg-warning"><%= BracketList[count].teams %></td>
              <td class="text-center"><%= BracketList[count].teams %></td>
              <td class="text-center bg-warning"><%= BracketList[count].teams %></td>
              <!--test and work-->
              
              <td class="text-center bg-warning">1</td>
              <td class="text-center"></td>
              <td class="text-center bg-warning">2</td>
              <td class="text-center"></td>
              <td class="text-center bg-warning">3</td>
              <td class="text-center"></td>
              <td class="text-center bg-warning">4</td>

              <td class="text-center"></td>
              <td class="text-center">5</td>

            </tr>
         

          </tbody>
        </table>
      </div>
      <!-- ------------------------ -->
      <!-- ADD the DELETE BUTTON HERE -->
      <!-- ------------------------ -->
      <a href="link to delete" class="btn btn-warning btn-sm">
      <a href="" class="btn btn-primary btn-sm">
        <i class="fas fa-pencil-alt"></i> Edit</a>
      <a href="" class="btn btn-warning btn-sm">
        <i class="fas fa-trash"></i> Delete</a>
    </main>


  </div>
</div>

<% include ../partials/footer.ejs %>
<% include ../partials/bottom_nav.ejs %>
<% include ../partials/footer.ejs %>