<%- include ../partials/header.ejs %> <%- include ../partials/main_nav.ejs %>

<!-- Main Content -->
<main class="container">
  <form class="form" method="post">
  <div class="row">
    <div class="col-md-offset-3 col-md-8">
      <h1><%=title %></h1>
     
      <br />
     
      <table class="table table-bordered table-striped table-hover">
        <!--HEader row-->
        <tr>
          <th class="text-center">Tournament Info</th>
          <th class="text-center">Game Info</th>
          <th class="text-center">Number of Teams</th>
          <th class="text-center">Description</th>
          </tr>

        
          <tr>
            <td class="text-centre "><%=bracket.tournamentName %></td>
            <td class="text-centre "><%=bracket.gameType %></td>
            <td class="text-centre "><%=bracket.players %></td>
            <td class="text-centre "><%=bracket.description %></td>
            
          </tr>
          
      </table>
      <br>
      <table>
        <tr class="">
          <th class="text-center">Round 1</th>
 
          </tr>
        <!--Repetable Templet row-->
        <% for (let count=0; count<bracket.teams.length; count++){%>
        <tr class="table-noborder bg-dark">
         <td class="text-center bg-danger "><%= bracket.teams[count] %></td>               
        </tr>
       
        <%}%>
      </table>
      <%{%>
      <div style="height: 40px;">

      </div>
      <button class="btn btn-primary btn-sm">
         <a href="/bracket-list/edit/<%= bracket._id %>" style="text-decoration:none; color:white">Edit</a>
       </button>
        <button class="btn btn-warning btn-sm" >
        <a href="/bracket-list/delete/<%= bracket._id %>" style="text-decoration:none; color:white">
        Delete</a></button>
      <%}%>
    </div>
  </div>
  </form>
</main>

<%- include ../partials/bottom_nav.ejs %> <%- include ../partials/footer.ejs %>
